{% extends 'polls/barrasuperior.html' %}


{% block body %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container-fluid">
    <div class="col-sm-12 col-xl-12 col-lg-12 col-md-12 text-center" style="font-size:50px;margin:30px 0">
        SIMULAÇÕES
    </div>
    <div class="row">
        <div class="texto-teoria col-sm-12 col-xl-12 col-lg-12 col-md-12" style="margin-top:20px;">
            {% for param in params %}
                {{param.nome}}: {{param.valor}}
                <br>
            {% endfor %}
        </div>
    </div>


    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
    {% if plot_div == '<div></div>' %}
    
    <div class="row">
        <div class="texto-teoria col-sm-12 col-xl-12 col-lg-12 col-md-12" style="margin-top:20px;">
            Para fazer a simulação, preencha os campos abaixo com os valores dos resistores e da tensão inicial.
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="texto-teoria col-sm-12 col-xl-12 col-lg-12 col-md-12" style="margin-top:20px;">
            <form action='#' method='post'>
                {% csrf_token %}
                <input id='tensao' name='tensao' type='number' placeholder='Tensao inicial'>
                <input id='resistor' name='resistor' type='number' placeholder='resistores'>
                <button type='submit'>Enviar</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}