{% extends 'polls/barrasuperior.html' %}


{% block body %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container-fluid">
    {% for param in params %}
        {{param.nome}}: {{param.valor}}
    {% endfor %}


    <form action='#' method='post'>
        {% csrf_token %}
        <input id='tensao' name='tensao' type='number' placeholder='Tensao inicial'>
        <input id='resistor' name='resistor' type='number' placeholder='resistores'>
        <button type='submit'>Enviar</button>
    </form>
</div>
{% autoescape off %}
{{ plot_div }}
{% endautoescape %}


{% endblock %}